In [1]:
import pandas as pd

## Divide file

In [2]:
df = pd.read_csv('responses.csv')

In [3]:
df

     affiliation-city affiliation-country
0            Stanford       United States
1             Bangkok            Thailand
2           Palo Alto       United States
3           Baltimore       United States
4                 NaN                 NaN
...               ...                 ...
4221            Barum              Norway
4222       Santa Rosa           Argentina
4223      Villa Elisa           Argentina
4224            Taraz          Kazakhstan
4225         Shymkent          Kazakhstan

[4226 rows x 2 columns]

In [4]:
for i in range(0, df.shape[0], 500):
    df.loc[i:min(i+500, df.shape[0])].to_csv(f"divide_data_{i}.csv")

## Combine file

In [4]:
l = ["0-499", "500-999", "1000-1499", "1500-1999", "2000-2499", "2500-2999", "3000-3499", "3500-3999", "4000-4225"]
df = pd.DataFrame()

for name in l:
    data = pd.read_csv(f"all_city_country/coordinates/part{name}.csv")
    df = pd.concat([df, data])

df.to_csv('coordinates.csv')