In [28]:
import pandas as pd
import json

In [29]:
df = pd.read_csv('dataset/scopusToCSV.csv')

In [30]:
df.loc[0]

id                                              SCOPUS_ID:85186955255
title               Perspectives on label-free microscopy of heter...
aggregation_type                                              Journal
subtype                                                       Article
cited_by_cnt                                                        0
publication_name                         Journal of biomedical optics
publisher                                                         NaN
volume                                                             29
coverDate                                                  2025-12-01
surname                                                          Pham
given_name                                                     Dan L.
affiliation         [{'affilname': 'UW-Madison College of Engineer...
Name: 0, dtype: object

In [31]:
import numpy as np


condition = (df['affiliation'] == "['affilname', 'affiliation-city', 'affiliation-country']")
df.loc[condition, 'affiliation'] = np.NaN

In [32]:
import ast

condition = pd.notna(df['affiliation'])
df.loc[condition, 'affiliation'] = df.loc[condition, 'affiliation'].apply(lambda x: ast.literal_eval(x))

In [33]:
df['full_name1'] = df.agg('{0[given_name]} {0[surname]}'.format, axis=1)
df['full_name1'].unique().size

4885

In [34]:
df['full_name2'] = df['given_name'] + " " +  df['surname']
df['full_name2'].unique().size

4881

In [35]:
df['surname'].isnull().sum()

0

In [36]:
def concat_name(x):
    if pd.isnull(x['given_name']):
        return x['surname']
    return x['given_name'] + " " +  x['surname']

df['full_name'] = df.apply(concat_name, axis=1)
full_name_list = df['full_name'].unique()
print(full_name_list)

['Dan L. Pham' 'Xiaoyun Chen' 'Bolin Li' ... 'Marzhan Nyssanbek'
 'Manish K. Yadav' 'A. Koulogiannis']

In [37]:
df['cited_by_cnt'].max()

12

In [38]:
data_4 = df.groupby('full_name')['cited_by_cnt'].sum().reset_index().sort_values('cited_by_cnt', ascending=False)
data_4 = data_4[data_4['cited_by_cnt'] > 0]
data_4 = pd.concat([data_4, pd.DataFrame({'full_name': 'others','cited_by_cnt': 0}, index=[0])], ignore_index=True)
# data_4

In [39]:
df = df.explode('affiliation')
# df

In [40]:
def split_affiliation_col(x):
    if pd.isna(x):
        return np.nan, np.nan, np.nan
    else:
        return x['affilname'], x['affiliation-city'], x['affiliation-country']

In [41]:
df_split = df.copy()
# df_split[['affilname','affiliation-city','affiliation-country']] = df_split['affiliation'].apply(split_affiliation_col)
# df_split

split_data = df_split['affiliation'].apply(split_affiliation_col).apply(pd.Series)

# # # Rename the columns of the split_data DataFrame
split_data.columns = ['affilname', 'affiliation-city', 'affiliation-country']

# # Assign the split data to the corresponding columns in df_split
df_split[['affilname', 'affiliation-city', 'affiliation-country']] = split_data
# split_data

In [42]:
!pip install pycountry-convert
!pip install pycountry

Requirement already satisfied: pycountry-convert in c:\users\user\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (23.12.11)
Requirement already satisfied: pytest>=3.4.0 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (7.3.1)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (3.14.0)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (5.0.0)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\user\anaconda3\lib\site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from pycountry-convert) (0.42.0)
Requirement already satisfied: iniconfig in c:\users\user\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: packaging in c:\users\user\appdata\roaming\python\python311\site-packages (from pytest>=3.4.0->pycountry-convert) (23.2)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\user\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.0.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.4.6)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\users\user\anaconda3\lib\site-packages (from pytest-cov>=2.5.1->pycountry-convert) (7.5.0)
Requirement already satisfied: pycountry in c:\users\user\anaconda3\lib\site-packages (23.12.11)

In [43]:
import pycountry
import pycountry_convert as pc

In [44]:
def get_continent(country_name):
    try:
        country_alpha_2 = pycountry.countries.lookup(country_name).alpha_2
        continent_code = pc.country_alpha2_to_continent_code(country_alpha_2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except LookupError:
        return np.NaN

In [45]:
print(get_continent("turkey"))

nan

In [46]:
df2 = pd.read_csv('dataset/scopusToCSV_FromAjarn.csv')

In [47]:
condition = (df2['affiliation'] == "['affilname', 'affiliation-city', 'affiliation-country']") | \
                (df2['affiliation'] == "['affiliation-city', '@id', 'affilname', '@href', 'affiliation-country']" )
df2.loc[condition, 'affiliation'] = np.NaN
condition = pd.notna(df2['affiliation'])
df2.loc[condition, 'affiliation'] = df2.loc[condition, 'affiliation'].apply(lambda x: ast.literal_eval(x))
# df2

In [48]:
%pip install geopy

Requirement already satisfied: geopy in c:\users\user\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\user\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
df2 = df2.explode('affiliation')

In [50]:
split_data = df2['affiliation'].apply(split_affiliation_col).apply(pd.Series)
split_data.columns = ['affilname', 'affiliation-city', 'affiliation-country']
df2[['affilname', 'affiliation-city', 'affiliation-country']] = split_data
    
df2['region'] = df2['affiliation-country'].apply(get_continent)

In [51]:
all_df = pd.concat([df2, df_split])

In [52]:
unique_rows = all_df.drop_duplicates(subset=['affiliation-city', 'affiliation-country']) 
unique_rows = unique_rows[['affiliation-city', 'affiliation-country']]

In [53]:
%pip install geopandas

Requirement already satisfied: geopandas in c:\users\user\anaconda3\lib\site-packages (0.14.4)
Requirement already satisfied: fiona>=1.8.21 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: numpy>=1.22 in c:\users\user\appdata\roaming\python\python311\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: packaging in c:\users\user\appdata\roaming\python\python311\site-packages (from geopandas) (23.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in c:\users\user\anaconda3\lib\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (22.1.0)
Requirement already satisfied: certifi in c:\users\user\appdata\roaming\python\python311\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click~=8.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (8.0.4)
Requirement already satisfied: click-plugins>=1.0 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\user\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in c:\users\user\appdata\roaming\python\python311\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2022.7)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [54]:
from geopy.geocoders import Nominatim

import time


def get_coordinates(idx, x):
    if pd.isna(x).all():
        return np.NaN, np.NaN
    
    country = x['affiliation-country']
    city = x['affiliation-city']

    geolocator = Nominatim(user_agent=f"geolocation-{idx}-test2")

    # Introduce a delay of 1 second
    time.sleep(1)

    if pd.isna(country):
        country = np.NaN
        query = city
    elif pd.isna(city):
        city = np.NaN
        try:
            query = pc.country_name_to_country_alpha2(country, cn_name_format="default")
        except ValueError:
            return np.NaN, np.NaN
    else: 
        query = f"{city} {country}"
    location = geolocator.geocode(query)
   
    if location:
        latitude = location.latitude
        longitude = location.longitude 
        if pd.isna(country):
            pq = f"{city}, "
        elif pd.isna(city):
            pq = f" , {country}"
        else:
            pq = f"{city}, {country}"
            print( f"{pq}, {latitude}, {longitude},")
        return [city, country, latitude, longitude]
    else:
        return city, country, np.NaN, np.NaN

In [55]:
responses = []

In [56]:
# for index, row in unique_rows.iterrows():
#     responses.append(get_coordinates(index, row))
# # unique_rows[['affiliation-city', 'affiliation-country']].apply(get_coordinates, axis=1)

In [57]:
unique_rows.shape

(4226, 2)

In [58]:
unique_rows.to_csv('responses.csv', index=False)

In [64]:
coord_df = pd.read_csv("all_city_country/coordinates/coordinates.csv")
coord_df = coord_df.rename(columns={
                "original_affiliation-city": "affiliation-city",
                "original_affiliation-country": "affiliation-country",
                "lat":"latitude",
                "lon": "longitude"
            })
# coord_df["affiliation-city", "affiliation-country","latitude", "longitude"]
df_test = pd.merge(df2, coord_df[["affiliation-city", "affiliation-country","latitude", "longitude"]], on=["affiliation-city", "affiliation-country"], how='left')

In [74]:
data = df_test.groupby(["latitude", "longitude"])['id'].nunique().reset_index() \
            .rename(columns={'id': 'count'}).sort_values(by='count', ascending=False)
data

       latitude   longitude  count
668   13.752494  100.493509  15580
697   14.020396  100.534043   1747
676   13.819007  100.063992   1411
2941  51.507446   -0.127765    966
1837  37.566679  126.978291    880
...         ...         ...    ...
2447  45.053475    9.694746      1
2446  45.003229   11.083693      1
2445  44.985786   19.630730      1
467    7.293121   80.635036      1
1662  35.776768  140.318338      1

[3324 rows x 3 columns]

In [67]:
data3 = df_test[["latitude", "longitude",'region', 'id']]

In [68]:
data3

         latitude   longitude         region                     id
0       37.427467 -122.170244  North America  SCOPUS_ID:85077976956
1       13.752494  100.493509           Asia  SCOPUS_ID:85077976956
2       13.752494  100.493509           Asia  SCOPUS_ID:85077976956
3       37.427467 -122.170244  North America  SCOPUS_ID:85077976956
4       37.444329 -122.159847  North America  SCOPUS_ID:85077976956
...           ...         ...            ...                    ...
203227  51.507446   -0.127765         Europe  SCOPUS_ID:85110903700
203228  13.752494  100.493509           Asia  SCOPUS_ID:85106740832
203229  16.430392  102.835590           Asia  SCOPUS_ID:85106740832
203230  13.752494  100.493509           Asia  SCOPUS_ID:85106046890
203231  11.568271  104.922443           Asia  SCOPUS_ID:85106046890

[203232 rows x 4 columns]

In [86]:
df_test.groupby(['aggregation_type'])['id'].count().reset_index()
l = df_test['aggregation_type'].unique()
for i in l:
    print(i)
l

Book
Conference Proceeding
Journal
Book Series
Trade Journal

array(['Book', 'Conference Proceeding', 'Journal', 'Book Series',
       'Trade Journal'], dtype=object)